.imagine{
    background-image: url("https://netstorage-yen.akamaized.net/images/3o3bpd7kbnmo7ileu.jpg?imwidth=900");
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    color: #FAFAFA;
    background-repeat:no-repeat;
    background-size: cover;
}

.text {
    font-family: "Oswald";
    padding: 5px;
    font-size: 3em;
}


.darkbackground{
    padding: 18px;
    background-color: rgba(28,28,28,0.7);
    text-align: center;

}

li{
    list-style: none;
}
