.card{
    width: 20rem;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjux4GogJjnAhVExaYKHTcDBXoQjRx6BAgBEAQ&url=http%3A%2F%2Fwww.stockphotos.ro%2Fblue-glitter-sparkles-snow-flakes-background-image7024437.html&psig=AOvVaw1D7qyHiPCaPRZVULrXeHov&ust=1579809562534391");
}
.border-primary{
    width: 10rem;
}

.container{
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwitrqS3_5fnAhXwwqYKHZ2yAHkQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fsnow-fall-with-bokeh-abstract-blue-background-vector-11142987&psig=AOvVaw1D7qyHiPCaPRZVULrXeHov&ust=1579809562534391");
}